@font-face {
  src: url("./fonts/coolvetica_rg.otf");
  font-family: "Coolvetica";
}

@font-face {
  src: url("./fonts/Goku.ttf");
  font-family: "Goku";
}

:root {
  --goku-dark: #103c4c;
  --goku-light: #faeddc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Coolvetica", sans-serif;
  background: var(--goku-light);
}

.heading {
  font-family: "Goku", sans-serif;
}

.avatar-img {
  width: 200px;
  border-radius: 100%;
}

/* Fact */
.fact {
  margin: 60px auto;
}

.title {
  font-size: 30px;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 23px;
  color: var(--goku-dark);
  margin-top: 0;
  margin-bottom: 8px;
}

.subtitle::after {
  content: ")";
}

.subtitle::before {
  content: "(";
}

.reveal {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background-image: url("images/avatar.png");
  border: 3px solid var(--goku-dark);
}

/* Reveal on Hover */
.a1:hover {
}
.a2:hover {
}
.a3:hover {
}
.a4:hover {
}
.a5:hover {
}
