@font-face {
  src: url("./fonts/coolvetica_rg.otf");
  font-family: "Coolvetica";
}

@font-face {
  src: url("./fonts/Goku.ttf");
  font-family: "Goku";
}

:root {
  --goku-dark: #103c4c;
  --goku-light: #faeddc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Coolvetica", sans-serif;
  background: #faeddc;
}

.heading {
  font-family: "Goku", sans-serif;
}

.avatar-img {
  width: 200px;
  border-radius: 100%;
}

/* Fact */
.fact {
  border: 3px solid;
}

.subtitle::after {
  content: ")";
}

.subtitle::before {
  content: "(";
}

.reveal {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background-image: url("images/avatar.png");
}
